<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.esmart.tale.mapper.ToptionsMapper" >
  <resultMap id="BaseResultMap" type="org.esmart.tale.model.Toptions" >
    <id column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    name, value, description
  </sql>
    <select id="selectCount" resultType="java.lang.Integer" parameterType="org.esmart.tale.model.Toptions" >
    select count(*)
    from t_options  where 1=1
    <if test="name != null" >
        and name=#{name}
      </if>
      <if test="value != null" >
        and value=#{value}
      </if>
  </select>
    <select id="selectAll" resultMap="BaseResultMap" >
    select *
    from t_options order by name 
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_options
    where name = #{name}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_options
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.esmart.tale.model.Toptions" >
    insert into t_options (name, value, description
      )
    values (#{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.esmart.tale.model.Toptions" >
    insert into t_options
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.esmart.tale.model.Toptions" >
    update t_options
    <set >
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.esmart.tale.model.Toptions" >
    update t_options
    set value = #{value,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
</mapper>